.title {
  @include font-title($size: 80px, $line-height: 90px);
  text-transform: uppercase;

  &--section {
    color: $color-accent;
  }

  &--underline {
    position: relative;
    padding-bottom: 29px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 3px;
      background-color: $color-line;
    }
    @include media-desktop {
      padding-bottom: 24px;
    }

    @include media-mobile {
      padding-bottom: 23px;
    }
  }

  @include media-desktop {
    font-size: 50px;
    line-height: 75px;
  }
  @include media-tablet {
    font-size: 40px;
    line-height: 60px;
  }

  @include media-mobile {
    font-size: 28px;
    line-height: 40px;
  }
}

.text-base {
  @include font($size: 18px, $weight: 400, $spacing: 0);
}

.subtitle {
  @include font($size: 28px, $color: $color-white, $spacing: 3.55px);

  @include media-desktop {
    font-size: 24px;
    letter-spacing: 3.3px;
  }
  @include media-tablet {
    font-size: 20px;
  }

  @include media-mobile {
    font-size: 16px;
    letter-spacing: 3px;
  }
}

.text-btn {
  @include font($size: 22px, $color: $color-white, $spacing: 3.5px);
  text-decoration: none;

  @include media-desktop {
    font-size: 20px;
    letter-spacing: 3.1px;
  }
  @include media-tablet {
    font-size: 22px;
  }

  @include media-mobile {
    font-size: 16px;
  }
}

.text-nav {
  @include font(
    $size: 22px,
    $weight: 100,
    $color: $color-white,
    $spacing: 3.1px
  );

  text-decoration: none;

  // @include media-desktop {
  //   font-size: 20px;
  // }
  @include media-tablet {
    font-size: 18px;
  }

  @include media-mobile {
    font-size: 16px;
  }
}

.text-logo {
  @include font-title($size: 28px, $spacing: 5px);
  text-transform: uppercase;

  // @include media-desktop {
  //   font-size: 20px;
  // }

  @include media-tablet {
    line-height: 50px;
  }

  @include media-mobile {
    font-size: 16px;
    line-height: 100%;
  }
}

.title-card {
  @include font-title($size: 32px, $color: $color-black);
  text-transform: uppercase;

  &--underline {
    position: relative;
    padding-bottom: 14px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      // right: 0;
      bottom: 0;
      height: 2px;
      width: 300px;
      background-color: $color-line;
    }

    @include media-desktop {
      font-size: 28px;
      letter-spacing: 3px;
      // padding-bottom: 10px;
      &::after {
        width: 150px;
      }
    }

    @include media-tablet {
      font-size: 22px;
    }

    @include media-mobile {
      font-size: 18px;
      letter-spacing: 5px;
    }
  }
}

.text-thin {
  @include font($size: 22px, $weight: 100, $spacing: 1px);
  text-decoration: none;

  @include media-desktop {
    font-size: 20px;
    letter-spacing: 0.9px;
  }
  @include media-tablet {
    font-size: 18px;
  }

  @include media-mobile {
    font-size: 16px;
  }
}

.text-mini {
  text-decoration: none;

  @include font($size: 18px, $weight: 100, $spacing: 1px);

  @include media-desktop {
    font-size: 16px;
    letter-spacing: 0.9px;
  }
}

.text-light {
  @include font($size: 22px, $line-height: 38.5px, $spacing: 1.1px);

  text-decoration: none;
  &--bg-dark {
    color: $color-white;
  }

  @include media-desktop {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 36.5px;
  }

  @include media-tablet {
    font-size: 18px;
  }

  @include media-mobile {
    font-size: 16px;
  }
}

.text-bold {
  @include font($size: 28px, $weight: 700, $spacing: 1.5);

  @include media-desktop {
    letter-spacing: 2.5px;
  }

  @include media-mobile {
    font-size: 16px;
  }
}

.text-address {
  @include font($size: 28px, $weight: 500, $spacing: 1.8px, $line-height: 112%);

  @include media-desktop {
    font-size: 24px;
    letter-spacing: 1.4px;
  }

  @include media-tablet {
    font-size: 20px;
  }

  @include media-mobile {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 120%;
  }
}

.text-copyright {
  @include font(
    $size: 22px,
    $line-height: 22px,
    $weight: 100,
    $color: $color-white,
    $spacing: 3.1px
  );

    text-decoration: none;

&--link {
   &:hover {
    color: $color-accent;
    text-decoration: underline;
  }

  &:active {
    color: $color-active;
  }
}

  @include media-mobile {
    font-size: 16px;
    &--rss {
      display: none;
    }
  }
}
