// FONTS

$font-base: "Roboto", arial, sans-serif;
$font-title: "Forum", Garamond, serif;

// COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #999999;
$color-dark: #333333;

$color-accent: #9D8665;

$color-text-accent: #CAAA7D;
$color-active: #7E6C51;
$color-bg-dark: #030303;
$color-icon-video: #B3B3B3;
$color-icon-video-hover: #989898;

$color-btn: #710707;
$color-point: #D2B183;

$color-line: #710707;
$color-icon-line: #666666;

$color-disabled: #d1d1d1;
$color-overlay: rgba(209, 209, 209, 0.1);


$color-error: #ff5e66;

// WIDTH
$large-width: 1920px;
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 420px;
$min-width: 320px;
