.battle {
   display: none;

  // background-color: rgb(232, 255, 127);
}

.battle__wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.battle__img {
  display: block;
  object-fit: cover;

  width: 300px;
  height: 350px;
  // background-color: tomato;

  margin-bottom: 20px;
}

.battle__p {
  margin-bottom: 10px;
  margin-top: 10px;
}